.bikerz-zone-light-red{
    background-color: rgba(255, 0, 0, 0.19);
}
.bikerz-zone-rating-icon{
    width: 20px;
}
.bikerz-zone-social-icon{
    width: 80px;
}
.space-between{
    justify-content: space-between;
}